* {
  font-family: 'Inconsolata';
}

main {
  max-width: 512px;
  width: 25%;
  margin: auto;
  margin-top: 128px;

  font-size: 1em;
}

main header {
  margin-bottom: 2em;
  text-align: center;
}

main header img {
  /*display: inline-block;
  vertical-align: middle;*/
  border-radius: 50%;
}

main header h1 {
  /*display: inline-block;
  margin-left: 1em;*/
  margin-top: 1em;
}

ul {
  margin-left: 1em;
}

ul li {
  line-height: 1.25em;
}

a#music {
  color: #1ED760;
}

a#twitter {
  color: #55ACEE;
}

a#instagram {
  color: #9b6954;
}

a#linkedin {
  color: #0077B5;
}

a#blog {
  color: #FF6600;
}

a#github {
  color: #808080;
}

a#email {
  color: #F9D654;
}

a#stampery {
  color: #2079CC;
}

a#life {
  color: #692433;
}

a:hover {
  transition: opacity 0.25s ease-in-out;
  opacity: 0.75;
}
