html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* */

body > .pure-g {
  height: 100%;
}

h2 {
  font-weight: normal;
}

#face {
  background-color: #554381;
  background-image: url(/rsc/face.jpg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  min-height: 100%;
  padding: 1rem 3rem;
  position: relative;
}

#face h2 {
  color: white;
  text-align: center;
}

#social {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
}

#info {
  padding: 1rem;
  height: 100%;
  overflow: scroll;
  color: #554381;
}

#info h2 {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#info a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding-bottom: 1.5rem;
  display: block;
  width: 100%;
  line-height: 3rem;
}

#info img {
  max-width: 10rem;
  max-height: 3rem;
  vertical-align: middle;
  transition: all 0.25s;
}

#info img:hover {
  filter: drop-shadow(0 0 5px #AAAAAA);
}

#info h4 {
  font-weight: lighter;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  body > .pure-g {
    height: auto;
  }

  h2 {
    text-align: center;
    margin-left: 0 !important;
  }

  #face {
    min-height: 25rem;
  }

  #info {
    overflow: hidden;
    min-height: 100%;
  }
}

/*

#bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(/rsc/bg.jpg);
  background-size: cover;
  background-position: center -128px;
  background-repeat: no-repeat;
  animation: fadein 2.5s;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Muli', sans-serif;
}

body > .pure-g {
  height: 100%;
  min-height: 66%;
  flex: auto;
}

#content {
  height: 100%;
  padding-left: 2.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

#social {
  display: block;
  width: 100%;
  text-align: left;
}

#social a {
  padding-right: 1rem;
  transition: all 0.25s;
}

#social a:hover {
  filter: drop-shadow(0 0 5px #AAAAAA);
}

footer {
  height: 20rem !important;
  padding-bottom: 1.5rem;
}

footer > div > div {
  height: 50% !important;
}

footer a {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  position: relative;
  padding-bottom: 1.5rem;
}

footer img {
  max-width: 10rem;
  max-height: 4rem;
  vertical-align: middle;
  transition: all 0.25s;
}

footer img:hover {
  filter: drop-shadow(0 0 5px #AAAAAA);
}

footer h3 {
  font-weight: lighter;
  margin-bottom: 0;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    overflow: auto;
    display: block;
  }

  #bg {
    background-position: 50% -128px;
  }

  #content {
    height: auto;
    position: absolute;
    bottom: 0;
    background: white;
    padding-bottom: 1.5rem;
  }

  footer {
    position: static;
    padding: 2.5rem 0;
  }

  footer a {
    margin: 1rem 1rem;
    position: static;
    display: block;
  }

  footer h3 {
    position: static;
  }

  footer > div > div {
    height: auto !important;
  }

  footer > div:nth-child(8) {
    margin-bottom: 2.5rem;
  }
}
*/
